apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: video-encode
spec:
  replicas: 1
  selector:
    matchLabels:
      app: video-encode
  template:
    metadata:
      labels:
        app: video-encode
    spec:
        containers:
        - name: video-encode
          image: video-encode
          imagePullPolicy: Never
          command: [
            "./video-encoding-svc",
            "--selector=static",
            "--server_address=:8080",
            "--broker_address=:10001"
          ]
          env:
          - name: MINIO_URL
            value: "minio-0:9000"
          - name: MINIO_ACCESS_KEY
            value: "minio"
          - name: MINIO_SECRET_KEY
            value: "minio123"
          - name: UPDATED_AT
            value: "{{ UPDATED_AT }}"
          ports:
          - containerPort: 8080
            name: upload-port
